.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

.card {
	width: 90%;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.center {
		text-align: center;
	}
}

.avatar {
	width: 5rem;
	height: inherit;
	border: 2px solid rgb(var(--mdui-color-primary));
}

.lanyard {
	display: var(--lanyard-display);
}

.hyperate {
	display: var(--hyperate-display);
}
