@import "modern-normalize/modern-normalize.css";
@import "sakura.css/css/sakura-dark.css";
@import "./src/css/font.css";

:root {
	--bpm: 0;
}

* {
	font-family: "Circular Std", sans-serif !important;
}

html,
body {
	margin: 0;
	padding: 0;
}

main {
	align-content: center;
	text-align: center;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("acrylic.png");
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	border-radius: 20px;
}

a::after {
	content: " 🔗";
}

iframe {
	z-index: 1;
	position: absolute;
	border: 0;
	width: 100vw;
	height: 100vh;
	left: 0%;
	filter: blur(10px);
	pointer-events: none;
}
