.activity {
	display: flex;
	align-items: center;
	gap: 10px;

	.image {
		position: relative;
		width: 75px;
		height: 75px;
		flex-shrink: 0;

		img {
			display: block;
		}

		.large {
			border-radius: 5%;
		}

		.small {
			position: absolute;
			border-radius: 50%;
			right: 0;
			bottom: 0;
		}
	}

	.text {
		display: flex;
		flex-direction: column;
	}
}

.progress-container {
	width: 100%;
	height: 5px;
	background-color: #40363a;
	border-radius: 5px;
	overflow: hidden;
}
.progress-bar {
	height: 100%;
	width: 0%;
	background-color: #eb99a1;
	transition: width 1s linear;
}
