.progress-container {
	width: 100%;
	height: 5px;
	background-color: #40363a;
	overflow: hidden;

	.progress-bar {
		height: 100%;
		width: 0%;
		background-color: #eb99a1;
		transition: width 1s linear;
	}
}
