<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>
    <meta http-equiv="refresh" content="5;url=/" />
    <h1><span class="idle">Something</span>&nbsp;went&nbsp;<span class="dnd">wrong</span>.</h1>
    <h2>This page was&nbsp;<span class="dnd">not</span>&nbsp;found.</h2>
    <p>Redirecting in five seconds...</p>
    <p class="offline">Or return back&nbsp;<a href="/">home</a>&nbsp;now.</p>

    {{! <script defer data-domain="ipv4.army" data-api="https://an.ipv4-army.workers.dev/api"
        src="https://an.ipv4-army.workers.dev/main.js"></script> }}
</body>

</html>