<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>
    <h1>{{lanyard.discord_user.global_name}}</h1>
    <h2>A guy with a passion for backend development, high-fidelity audio, and gaming.</h2>
    <p>Currently:&nbsp;<span class="{{lanyard.discord_status}}">{{lanyard.discord_status}}</span> {{#if heartrate}}
    Heartrate:&nbsp;<span class="dnd"> {{heartrate}}BPM</span>
    {{/if}}</p>
    <p><a href="https://heliopolis.live/seth">GitLab</a></p>

    {{! <script defer data-domain="ipv4.army" data-api="https://an.ipv4-army.workers.dev/api"
        src="https://an.ipv4-army.workers.dev/main.js"></script> }}
</body>

</html>