        html,
        body {
            margin: 0;
            padding: 0;
            height: 100dvh;

            font-family: sans-serif;
        }

        body {
            text-align: center;
            align-content: center;
            background: #000;
        }

        h2 {
            font-weight: normal;
            text-wrap-style: balance;

            padding-left: 1rem;
            padding-right: 1rem;
        }

        .online {
            color: rgb(150, 255, 150);
        }

        .idle {
            color: rgb(255, 255, 150);
        }

        .dnd {
            color: rgb(255, 150, 150);
        }

        .offline {
            color: rgb(150, 150, 150);
        }

        a {
            color: inherit;
        }