@font-face {
    font-family: "Circular Std";
    src: url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-Black.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-Black.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-Black.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-Black.eot") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-Black.svg#CircularStd-Black") format("svg");
    font-weight: black;
    font-style: normal;
}

@font-face {
    font-family: "Circular Std";
    src: url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-BlackItalic.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-BlackItalic.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-BlackItalic.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-BlackItalic.eot") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-BlackItalic.svg#CircularStd-BlackItalic") format("svg");
    font-weight: black;
    font-style: italic;
}

@font-face {
    font-family: "Circular Std";
    src: url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-Bold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-Bold.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-Bold.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-Bold.eot") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-Bold.svg#CircularStd-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Circular Std";
    src: url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-BoldItalic.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-BoldItalic.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-BoldItalic.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-BoldItalic.eot") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-BoldItalic.svg#CircularStd-BoldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Circular Std";
    src: url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-Book.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-Book.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-Book.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-Book.eot") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-Book.svg#CircularStd-Book") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular Std";
    src: url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-BookItalic.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-BookItalic.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-BookItalic.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-BookItalic.eot") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-BookItalic.svg#CircularStd-BookItalic") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Circular Std";
    src: url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-Medium.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-Medium.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-Medium.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-Medium.eot") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-Medium.svg#CircularStd-Medium") format("svg");
    font-weight: 500;
    /* Medium weight */
    font-style: normal;
}

@font-face {
    font-family: "Circular Std";
    src: url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-MediumItalic.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-MediumItalic.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-MediumItalic.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-MediumItalic.eot") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/MENTALLY-GERM4N/.github/branding/font/CircularStd-MediumItalic.svg#CircularStd-MediumItalic") format("svg");
    font-weight: 500;
    /* Medium weight */
    font-style: italic;
}