.online {
	--mdui-color-primary: 2, 230, 0;
	--mdui-color-on-primary: 1, 58, 0;
	--mdui-color-primary-container: 1, 83, 0;
	--mdui-color-on-primary-container: 119, 255, 97;
	--mdui-color-secondary: 187, 203, 178;
	--mdui-color-on-secondary: 38, 52, 34;
	--mdui-color-secondary-container: 60, 75, 55;
	--mdui-color-on-secondary-container: 215, 232, 205;
	--mdui-color-tertiary: 160, 207, 210;
	--mdui-color-on-tertiary: 0, 55, 57;
	--mdui-color-tertiary-container: 30, 77, 80;
	--mdui-color-on-tertiary-container: 188, 235, 238;
	--mdui-color-error: 255, 180, 171;
	--mdui-color-on-error: 105, 0, 5;
	--mdui-color-error-container: 147, 0, 10;
	--mdui-color-on-error-container: 255, 180, 171;
	--mdui-color-background: 26, 28, 24;
	--mdui-color-on-background: 226, 227, 220;
	--mdui-color-surface: 26, 28, 24;
	--mdui-color-on-surface: 226, 227, 220;
	--mdui-color-surface-variant: 67, 72, 63;
	--mdui-color-on-surface-variant: 195, 200, 188;
	--mdui-color-outline: 141, 147, 135;
	--mdui-color-outline-variant: 67, 72, 63;
	--mdui-color-shadow: 0, 0, 0;
	--mdui-color-scrim: 0, 0, 0;
	--mdui-color-inverse-surface: 226, 227, 220;
	--mdui-color-inverse-on-surface: 47, 49, 45;
	--mdui-color-inverse-primary: 2, 110, 0;
	--mdui-color-surface-dim: 18, 20, 16;
	--mdui-color-surface-bright: 56, 58, 53;
	--mdui-color-surface-container-lowest: 13, 15, 11;
	--mdui-color-surface-container-low: 26, 28, 24;
	--mdui-color-surface-container: 30, 32, 28;
	--mdui-color-surface-container-high: 40, 43, 39;
	--mdui-color-surface-container-highest: 51, 53, 49;
	--mdui-color-surface-tint-color: 2, 230, 0;
}

.idle {
	--mdui-color-primary: 205, 205, 0;
	--mdui-color-on-primary: 50, 50, 0;
	--mdui-color-primary-container: 73, 73, 0;
	--mdui-color-on-primary-container: 234, 234, 0;
	--mdui-color-secondary: 202, 200, 165;
	--mdui-color-on-secondary: 50, 50, 24;
	--mdui-color-secondary-container: 73, 72, 45;
	--mdui-color-on-secondary-container: 231, 228, 191;
	--mdui-color-tertiary: 164, 208, 189;
	--mdui-color-on-tertiary: 11, 55, 42;
	--mdui-color-tertiary-container: 37, 78, 64;
	--mdui-color-on-tertiary-container: 191, 236, 216;
	--mdui-color-error: 255, 180, 171;
	--mdui-color-on-error: 105, 0, 5;
	--mdui-color-error-container: 147, 0, 10;
	--mdui-color-on-error-container: 255, 180, 171;
	--mdui-color-background: 28, 28, 23;
	--mdui-color-on-background: 230, 226, 217;
	--mdui-color-surface: 28, 28, 23;
	--mdui-color-on-surface: 230, 226, 217;
	--mdui-color-surface-variant: 72, 71, 58;
	--mdui-color-on-surface-variant: 202, 199, 182;
	--mdui-color-outline: 147, 145, 130;
	--mdui-color-outline-variant: 72, 71, 58;
	--mdui-color-shadow: 0, 0, 0;
	--mdui-color-scrim: 0, 0, 0;
	--mdui-color-inverse-surface: 230, 226, 217;
	--mdui-color-inverse-on-surface: 49, 49, 43;
	--mdui-color-inverse-primary: 98, 98, 0;
	--mdui-color-surface-dim: 20, 20, 15;
	--mdui-color-surface-bright: 58, 57, 51;
	--mdui-color-surface-container-lowest: 15, 14, 10;
	--mdui-color-surface-container-low: 28, 28, 23;
	--mdui-color-surface-container: 32, 32, 26;
	--mdui-color-surface-container-high: 43, 42, 37;
	--mdui-color-surface-container-highest: 54, 53, 47;
	--mdui-color-surface-tint-color: 205, 205, 0;
}

.dnd {
	--mdui-color-primary: 255, 180, 168;
	--mdui-color-on-primary: 105, 1, 0;
	--mdui-color-primary-container: 147, 1, 0;
	--mdui-color-on-primary-container: 255, 218, 212;
	--mdui-color-secondary: 231, 189, 182;
	--mdui-color-on-secondary: 68, 41, 37;
	--mdui-color-secondary-container: 93, 63, 59;
	--mdui-color-on-secondary-container: 255, 218, 212;
	--mdui-color-tertiary: 222, 196, 140;
	--mdui-color-on-tertiary: 62, 46, 4;
	--mdui-color-tertiary-container: 86, 68, 25;
	--mdui-color-on-tertiary-container: 251, 223, 166;
	--mdui-color-error: 255, 180, 171;
	--mdui-color-on-error: 105, 0, 5;
	--mdui-color-error-container: 147, 0, 10;
	--mdui-color-on-error-container: 255, 180, 171;
	--mdui-color-background: 32, 26, 25;
	--mdui-color-on-background: 237, 224, 221;
	--mdui-color-surface: 32, 26, 25;
	--mdui-color-on-surface: 237, 224, 221;
	--mdui-color-surface-variant: 83, 67, 65;
	--mdui-color-on-surface-variant: 216, 194, 190;
	--mdui-color-outline: 160, 140, 137;
	--mdui-color-outline-variant: 83, 67, 65;
	--mdui-color-shadow: 0, 0, 0;
	--mdui-color-scrim: 0, 0, 0;
	--mdui-color-inverse-surface: 237, 224, 221;
	--mdui-color-inverse-on-surface: 54, 47, 46;
	--mdui-color-inverse-primary: 192, 1, 0;
	--mdui-color-surface-dim: 24, 18, 17;
	--mdui-color-surface-bright: 63, 55, 54;
	--mdui-color-surface-container-lowest: 18, 13, 12;
	--mdui-color-surface-container-low: 32, 26, 25;
	--mdui-color-surface-container: 37, 30, 29;
	--mdui-color-surface-container-high: 47, 40, 39;
	--mdui-color-surface-container-highest: 59, 51, 50;
	--mdui-color-surface-tint-color: 255, 180, 168;
}

.offline {
	--mdui-color-primary: 79, 216, 235;
	--mdui-color-on-primary: 0, 54, 61;
	--mdui-color-primary-container: 0, 79, 88;
	--mdui-color-on-primary-container: 151, 240, 255;
	--mdui-color-secondary: 177, 203, 208;
	--mdui-color-on-secondary: 28, 52, 56;
	--mdui-color-secondary-container: 51, 75, 79;
	--mdui-color-on-secondary-container: 205, 231, 236;
	--mdui-color-tertiary: 186, 198, 234;
	--mdui-color-on-tertiary: 36, 48, 77;
	--mdui-color-tertiary-container: 59, 70, 100;
	--mdui-color-on-tertiary-container: 218, 226, 255;
	--mdui-color-error: 255, 180, 171;
	--mdui-color-on-error: 105, 0, 5;
	--mdui-color-error-container: 147, 0, 10;
	--mdui-color-on-error-container: 255, 180, 171;
	--mdui-color-background: 25, 28, 29;
	--mdui-color-on-background: 225, 227, 227;
	--mdui-color-surface: 25, 28, 29;
	--mdui-color-on-surface: 225, 227, 227;
	--mdui-color-surface-variant: 63, 72, 74;
	--mdui-color-on-surface-variant: 191, 200, 202;
	--mdui-color-outline: 137, 146, 148;
	--mdui-color-outline-variant: 63, 72, 74;
	--mdui-color-shadow: 0, 0, 0;
	--mdui-color-scrim: 0, 0, 0;
	--mdui-color-inverse-surface: 225, 227, 227;
	--mdui-color-inverse-on-surface: 46, 49, 50;
	--mdui-color-inverse-primary: 0, 104, 116;
	--mdui-color-surface-dim: 16, 20, 21;
	--mdui-color-surface-bright: 54, 58, 58;
	--mdui-color-surface-container-lowest: 11, 15, 15;
	--mdui-color-surface-container-low: 25, 28, 29;
	--mdui-color-surface-container: 29, 32, 33;
	--mdui-color-surface-container-high: 39, 43, 43;
	--mdui-color-surface-container-highest: 50, 53, 54;
	--mdui-color-surface-tint-color: 79, 216, 235;
}

.streaming {
	--mdui-color-primary: 255, 171, 243;
	--mdui-color-on-primary: 91, 0, 91;
	--mdui-color-primary-container: 129, 0, 129;
	--mdui-color-on-primary-container: 255, 215, 245;
	--mdui-color-secondary: 218, 191, 210;
	--mdui-color-on-secondary: 61, 43, 58;
	--mdui-color-secondary-container: 85, 65, 81;
	--mdui-color-on-secondary-container: 247, 218, 239;
	--mdui-color-tertiary: 245, 184, 167;
	--mdui-color-on-tertiary: 76, 38, 27;
	--mdui-color-tertiary-container: 102, 60, 47;
	--mdui-color-on-tertiary-container: 255, 219, 209;
	--mdui-color-error: 255, 180, 171;
	--mdui-color-on-error: 105, 0, 5;
	--mdui-color-error-container: 147, 0, 10;
	--mdui-color-on-error-container: 255, 180, 171;
	--mdui-color-background: 30, 26, 29;
	--mdui-color-on-background: 233, 224, 228;
	--mdui-color-surface: 30, 26, 29;
	--mdui-color-on-surface: 233, 224, 228;
	--mdui-color-surface-variant: 78, 68, 75;
	--mdui-color-on-surface-variant: 209, 194, 203;
	--mdui-color-outline: 154, 141, 149;
	--mdui-color-outline-variant: 78, 68, 75;
	--mdui-color-shadow: 0, 0, 0;
	--mdui-color-scrim: 0, 0, 0;
	--mdui-color-inverse-surface: 233, 224, 228;
	--mdui-color-inverse-on-surface: 52, 47, 50;
	--mdui-color-inverse-primary: 169, 0, 169;
	--mdui-color-surface-dim: 22, 18, 21;
	--mdui-color-surface-bright: 61, 56, 59;
	--mdui-color-surface-container-lowest: 17, 13, 16;
	--mdui-color-surface-container-low: 30, 26, 29;
	--mdui-color-surface-container: 35, 30, 33;
	--mdui-color-surface-container-high: 45, 41, 44;
	--mdui-color-surface-container-highest: 56, 51, 54;
	--mdui-color-surface-tint-color: 255, 171, 243;
}