.container {
    width: 90dvw;
    margin: auto;
    margin-top: 30px;
    padding: 13px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #40363a10;
}
