@import "@/../../../node_modules/beercss/src/cdn/beer.css";

@media (prefers-reduced-motion: no-preference) {
	* {
		transition:
			background 0.5s linear,
			background-color 0.5s linear,
			/* biome-ignore lint/complexity/noImportantStyles: need to override beercss */
			opacity 0.5s linear !important;
	}
}

.site {
	margin: auto;
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	gap: 1dvh;
}

.site .content {
	display: flex;
	flex-direction: column;
	gap: 1dvh;
}
