@import "modern-normalize";
@import "sakura.css/css/sakura-vader.css";

*::before,
*,
*::after {
	border-radius: 4px;
}

body {
	width: 100dvw;
	height: 100dvh;
	padding: 0px;
	font-weight: normal;
}

button {
	border-radius: 4px;
}

img {
	margin-bottom: 0;
}

blockquote {
	background: linear-gradient(
		90deg,
		rgba(64, 54, 58, 1) 0%,
		rgba(0, 0, 0, 0) 100%
	);
}
